footer {
  display:flex;
  background-color: #63492bb8;
  height: 60px;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  border-top: 3px solid #8ACF98;
}

input {
  border-radius: 3px;
}