footer {
  height: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  border-top: 1px solid #594640;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
}

form {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 18px;
}

input {
  padding-left: 6px;
}

button:hover {
  background-color: #93C832;
  scale: 1.06;
}
