.movieDetailsMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
  padding: 4vh 6vw ;
  overflow: auto;
  background-size: cover;
  background-position: center;
}

.movieDetailsContent {
  display: flex;
  gap: 24px;
}

.detailCover {
  max-height: 480px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.moreInfo {
  background-color: #e1e6d7c0;
  backdrop-filter: blur(6px);
  flex-grow: 1;
  max-height: 480px;
  min-width: 220px;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.moreInfo::-webkit-scrollbar {
  width: 20px;
}

.moreInfo::-webkit-scrollbar-track {
  background-color: transparent;
}

.moreInfo::-webkit-scrollbar-thumb {
  background-color: #539320;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.moreInfo::-webkit-scrollbar-thumb:hover {
  background-color: #396416;
}



@media only screen and (max-width: 800px) {
  .detailCover {
    flex-grow: 1;
    max-height: 360px;
  }
  .moreInfo {
    max-height: 360px;
  }
}

@media only screen and (max-width: 580px) {
  .movieDetailsMain {
    justify-content: flex-start;
  }

  .movieDetailsContent {
    flex-direction: column;
  }

  .detailCover {
    flex-grow: 1;
    height: auto;
    max-width: 100%;
    max-height: none;
  }

  .moreInfo {
    max-height: none;
  }
}

.infoFlex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 500px;
}

.infoFlex h3 {
  font-size: 18px;
  font-weight: bold;
}

.dataTitle {
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0;
}

.dataPoint {
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 12px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 2px;
  margin-bottom: 12px;
}

.dataGenre {
  background-color: #59464024;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 2px 8px 2px 8px;
}

.trailer {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 800px;
  align-self: center;
}
