.moviesContainerMain {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 40px;
}

.moviesContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 26px;
  padding-bottom: 16px;
  padding-top: 16px;
}

.moviesContainer::-webkit-scrollbar {
  width: 60px;
  cursor: pointer;
}

.moviesContainer::-webkit-scrollbar-track {
  background-color: #95b05d;
  border-radius: 20px;
  border: 1px solid #59464050;
}

.moviesContainer::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 20px;
  border: 1px solid transparent;
  background-clip: content-box;
}

.moviesContainer::-webkit-scrollbar-thumb:hover {
  background-color: rgba(245, 245, 245, 0.6);
}
