.movieLink {
  text-decoration: none;
  color: black;
}

.movieCard {
  text-decoration: none;
  background-color: rgba(245, 245, 245, 0.8);
  backdrop-filter: blur(6px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  max-width: 280px;
  width: 27vh;
  flex-shrink: 0;
  transition: all .8s ease;
  cursor: pointer;
}

.movieCard:hover {
  transform: scale(1.05);
}

.movieCard > img {
  max-width: 100%;
}

.movieFooter {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  height: 24px;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.movieCard h2 {
  margin:0;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.movieRating {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}
