.errorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #594640;
  font-family: 'Fifties Movies';
  text-align: center;
  font-size: 3pc;
  height: 100%;
  margin: 0;
  width: 100%;
}
